<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/patient_add.styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/patient_add.script.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'get_patients' %}">Nirmaan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'get_patients' %}">Patients</a>
                </li>
                <!-- Add other navigation links here if needed -->
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <button class="btn btn-secondary toggle-button" onclick="toggleTheme()">
        <i class="fas fa-moon"></i>
    </button>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title mb-4">Add Patient</h1>
                {% load crispy_forms_tags %}
                <form id="addPatientForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    <!-- Patient Form Fields -->
                    {{ form | crispy }}
    
                    <!-- Capture Image Section -->
                    <div class="form-group">
                        <label for="image">Patient Photo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image" name="image">
                            <label class="custom-file-label" for="image">Choose file...</label>
                        </div>
                        <input type="hidden" id="image_data" name="image_data">
                        <canvas id="canvas" style="display: none;"></canvas>
                        <video id="video"></video>
                        <button type="button" class="btn btn-primary capture-button" id="captureBtn">Capture Image from Webcam</button>
                    </div>
                    
                    <!-- Representative Form Fields -->
                    <h2 class="card-title mb-4 mt-5">Add Representative</h2>
                    {{ representative_form | crispy }}
                    
                    <!-- Declaration Form Fields -->
                    <div class="form-group">
                        <h2 class="card-title mb-4 mt-5">Add Declaration</h2>
                        {% for field in declaration_form %}
                            {{ field.errors }}
                            <div class="custom-dropdown">
                                {{ field.field.help_text }}
                                <button type="button" class="dropdown-btn" id="dropdown-btn-{{ field.name }}">Select an option</button>
                                <div class="dropdown-content" id="dropdown-content-{{ field.name }}">
                                    {% for choice in field.field.choices %}
                                        <div data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary">Add Patient</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('.dropdown-btn').click(function() {
            $(this).next('.dropdown-content').toggle();
        });
        
        $('.dropdown-content div').click(function() {
            const value = $(this).data('value');
            const text = $(this).text();
            const dropdownBtn = $(this).closest('.custom-dropdown').find('.dropdown-btn');
            dropdownBtn.text(text);
            $(this).closest('.custom-dropdown').find('input').val(value);
            $(this).parent().hide();
        });
    </script>
</body>
</html>
